{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "f3X6cRrvJku/uAsd5M2heg.0",
        "X-Processing-Time": "88ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SDpKf9p8NEuqb3feeU0e7A.0",
        "X-Processing-Time": "212ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-03-06T22:14:19.7151295\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-Id": "contoso-F0A747F1-6245-4307-8267-B974340677D2"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-5a06-71bf-a43a0d00023e"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-5c2f-71bf-a43a0d00023f"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1@thread.v2",
        "MS-CV": "zNJ9qQ7xUEqUEw2h81NCsA.0",
        "X-Processing-Time": "838ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:n7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1@thread.v2",
          "topic": "Thread sync from C# sdk",
          "createdOn": "2021-03-05T22:14:23Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d",
            "communicationUser": {
              "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/participants?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "g1ecaaZUm0qODA3scjYVTQ.0",
        "X-Processing-Time": "154ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-5a06-71bf-a43a0d00023e",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-5a06-71bf-a43a0d00023e"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-5c2f-71bf-a43a0d00023f",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-5c2f-71bf-a43a0d00023f"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "\u002BeDaa68cLUmUwmP6c7z36A.0",
        "X-Processing-Time": "248ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1@thread.v2/messages/1614982465948",
        "MS-CV": "rvmC8o9ZAUKMabiap7NU0A.0",
        "X-Processing-Time": "112ms"
      },
      "ResponseBody": {
        "id": "1614982465948"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A5iqja7l8EAm_SuiBS7txgje7AtTxNSk26jTipmle3go1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A5iqja7l8EAm_SuiBS7txgje7AtTxNSk26jTipmle3go1@thread.v2/messages/1614982466148",
        "MS-CV": "7nMvyUXFiE207RypUCPNng.0",
        "X-Processing-Time": "167ms"
      },
      "ResponseBody": {
        "id": "1614982466148"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/messages/1614982465948?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9MOTesOpPEOM1o0Q0UIu4g.0",
        "X-Processing-Time": "93ms"
      },
      "ResponseBody": {
        "id": "1614982465948",
        "type": "text",
        "sequenceId": "4",
        "version": "1614982465948",
        "content": {
          "message": "Let\u0027s meet at 11am"
        },
        "senderDisplayName": "",
        "createdOn": "2021-03-05T22:14:25Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A5iqja7l8EAm_SuiBS7txgje7AtTxNSk26jTipmle3go1%40thread.v2/messages/1614982466148?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "A8tjEdmIK0q4vDzQHNuweg.0",
        "X-Processing-Time": "82ms"
      },
      "ResponseBody": {
        "id": "1614982466148",
        "type": "text",
        "sequenceId": "3",
        "version": "1614982466148",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-03-05T22:14:26Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:n7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1@thread.v2/messages?syncState=3e3900000031393a6e374b6457464e566d5762436e726f745166556d33716d306b69675f454a5338784c41462d42755647665531407468726561642e7632018ecd740478010000a5ce740478010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:n7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1@thread.v2/messages?syncState=3e3900000031393a6e374b6457464e566d5762436e726f745166556d33716d306b69675f454a5338784c41462d42755647665531407468726561642e76320185c7740478010000a5ce740478010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/sc2IUuVxESFPa3F3RuiTA.0",
        "X-Processing-Time": "174ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1614982463667",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1614982463667",
            "content": {
              "topic": "Thread sync from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d",
                "communicationUser": {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
                }
              }
            },
            "createdOn": "2021-03-05T22:14:23Z"
          },
          {
            "id": "1614982463567",
            "type": "participantAdded",
            "sequenceId": "1",
            "ver[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/messages/1614982465948?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LXv77klOVkKNrfEmVXfMHQ.0",
        "X-Processing-Time": "84ms"
      },
      "ResponseBody": {
        "id": "1614982465948",
        "type": "text",
        "sequenceId": "9",
        "version": "1614982470295",
        "content": {
          "message": "Instead of 11am, let\u0027s meet at 2pm"
        },
        "senderDisplayName": "",
        "createdOn": "2021-03-05T22:14:25Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
          }
        },
        "editedOn": "2021-03-05T22:14:30Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nIlVva/NDkqRcjYrjbU3/Q.0",
        "X-Processing-Time": "102ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1614982465948",
            "type": "text",
            "sequenceId": "10",
            "version": "1614982470865",
            "content": {
              "message": ""
            },
            "senderDisplayName": "",
            "createdOn": "2021-03-05T22:14:25Z",
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-57d2-71bf-a43a0d00023d"
              }
            },
            "deletedOn": "2021-03-05T22:14:30Z"
          },
          {
            "id": "1614982467237",
            "type": "text",
            "sequenceId": "8",
            "version": "1614982467237",
            "content": {
              "message": "Content for message 6"
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-03-05T22:14:27Z",
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/participants/:add?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-5e5e-71bf-a43a0d000240"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qfqVPxMZaUCR9FQoikQpZw.0",
        "X-Processing-Time": "264ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      [...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:n7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/participants/:remove?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a456-5e5e-71bf-a43a0d000240"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "dRyZOveepk2AXrHYCSmLOQ.0",
        "X-Processing-Time": "301ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2/typing?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "ZnnMNCvd90iXn\u002B1CmKRcJQ.0",
        "X-Processing-Time": "157ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "u8sm4Z1M20maD1HR5m4Rug.0",
        "X-Processing-Time": "30ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:n7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1@thread.v2",
            "topic": "Launch meeting",
            "lastMessageReceivedOn": "2021-03-05T22:14:32Z"
          },
          {
            "id": "19:5iqja7l8EAm_SuiBS7txgje7AtTxNSk26jTipmle3go1@thread.v2",
            "topic": "Thread sync from C# sdk",
            "lastMessageReceivedOn": "2021-03-05T22:14:24Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3An7KdWFNVmWbCnrotQfUm3qm0kig_EJS8xLAF-BuVGfU1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "/oojNcUoQUqT3aq0A0TFlw.0",
        "X-Processing-Time": "246ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "800004652"
  }
}